:root {
  --orange: #ff5f58;
  --Lightorange: #ff918b;
}

.orange {
  color: var(--orange)!important;
}

.centerBox {
  display: flex;
  align-content: center;
  justify-content: center;
  margin:  40px;
}

.myClass {
  box-sizing: border-box;
  /* border: 10px solid white; */
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-image: url('https://i.pinimg.com/originals/25/b9/24/25b924f1d18fea2c7dfcb26a9905c1e8.png');
  background-size: 400px;
  /* background-color: red; */
}

.stickerFlip {
  overflow: hidden;
}

.stickerFlip::after {
  filter: brightness(0%) invert(100%) opacity(80%);
  background-image: var(--image);
  background-size: var(--imgSize);
  background-color: var(--bgColor);
  position: relative;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 2;
}

body {
  background-color: var(--Lightorange);
}