.sticker {
}

.myClass {
  box-sizing: border-box;
  /* border: 10px solid white; */
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-image: url('assets/reactLogo.png');
  background-size: 400px;
  /* background-color: red; */
}

.stickerFlip {
  overflow: hidden;
}

.stickerFlip::after {
  filter: brightness(0%) invert(100%) opacity(80%);
  background-image: var(--image);
  background-size: var(--imgSize);
  background-color: var(--bgColor);
  position: relative;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 2;
}

body {
  background-color: whitesmoke;
}